.back {
    background-color: #E3CCAE;
}

.textc {
    color: #262A56
}

.linkColor {
    color: #000000;
}

.card {
    background-color: #B8621B;
}

.borderc {
    border-color: #B8621B;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-family:serif; */
    /* font-family:'Times New Roman', Times, serif; */
}